[workspace]
resolver = "2"
members = ["tui-*"]

[workspace.package]
authors = ["Joshka"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/joshka/tui-widgets"
edition = "2021"
rust-version = "1.63.0"
categories = ["command-line-interface", "gui"]
keywords = ["cli", "console", "ratatui", "terminal", "tui"]

[workspace.dependencies]
anyhow = "1.0.86"
clap = { version = "4.5.8", features = ["derive"] }
color-eyre = "0.6.3"
crossterm = { version = "0.27.0" }
derive_builder = "0.20.0"
futures = "0.3.21"
itertools = "0.13.0"
indoc = "2.0.5"
ratatui = { version = "0.27.0", default-features = false }
ratatui-macros = "0.4.2"
rstest = "0.21.0"
strum = { version = "0.26.1", features = ["derive"] }
tokio = { version = "1.16" }

[package]
name = "tui-widgets"
description = "A collection of useful widgets for building terminal user interfaces using Ratatui"
version = "0.1.3"
documentation = "https://docs.rs/tui-widgets"

authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[features]
default = ["full"]
## All widgets
full = ["big-text", "prompts", "scrollview"]
## Enables the [`big_text`] widget
big-text = ["tui-big-text"]
## Enables the [`prompts`] widget
prompts = ["tui-prompts"]
## Enables the [`scrollview`] widget
scrollview = ["tui-scrollview"]

[dependencies]
document-features = "0.2.10"
ratatui = { workspace = true }
tui-big-text = { version = "0.4.6", path = "tui-big-text", optional = true }
tui-scrollview = { version = "0.3.8", path = "tui-scrollview", optional = true }
tui-prompts = { version = "0.3.14", path = "tui-prompts", optional = true }
