[package]
name = "tui-popup"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ratatui = "0.25.0"

[dev-dependencies]
color-eyre = "0.6.2"
crossterm = "0.27.0"
